body{
  color: white;
  background-image: url("../imgs/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #000;
}

h1 {
  color: white;
}

li{
  list-style-type: none;
}
#links{
  border: 2px solid pink;
}

#center_carousel{
  border: 2px solid pink;
  background-color: grey;
  height: 30em;
}

#twitter{
  border: 2px solid pink;
}

#footer{
  background: pink;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#home_view {
  display: none;
  padding: 0 2.5%;
  height: 23em;
  overflow: auto
}

#video_view {
  display: none;
  height: 95%;
}

#music_view {
  display: none;
  height: 95%;
}

/*Carousel items*/


#carousel {
    width: 100%;
}
#items {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
    height: 25.9em;
}
#items img {
    position: absolute;
    width: 100%;
    max-height: 100%;
}
#selector {
    list-style: none;
    padding: 0px;
    margin-bottom: 8px;
    text-align: center;
}
#selector li {
    display: inline-block;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border: 2px solid #000;
    background: white;
}
#selector .active {
    background: grey;
}
#music iframe {
    height: 100%;
}
#video iframe {
    height: 100%;
}

/* twitter */
#twitter {
  height: 26em;
  overflow: auto;
}
#twitter h3 {
  color: pink;
}