#links{
  border: 1px solid black;
}

#center_carousel{
  border: 1px solid black;
}

#twitter{
  border: 1px solid black;
}

#footer{
  background: pink;
  position: fixed;
  bottom: 0;
  width: 100%;
}