body{
  color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
}

h1 {
  color: white;
}

li{
  list-style-type: none;
}

#links{
  border: 2px solid pink;
  padding-left: none !important;
  padding-right: none !important;
}

#center_carousel{
  border: 2px solid pink;
  background-color: white;
  padding-top: 2vh !important;
  padding-right: none !important;
  max-height: 70vh;
  position: relative;
  height: 70vh;
}

#twitter{
  border: 2px solid pink;
  padding-left: none !important;
}

#footer{
  background: pink;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#home_view {
  display: none;
  padding: 0 2.5%;
  height: 23em;
  overflow: auto
}

#video_view {
  display: none;
  height: 95%;
}

#music_view {
  display: none;
  height: 95%;
}

/*Carousel items*/


#carousel {
    width: 100%;
}
#items {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 90%;
    height: auto;
}
#items img {
    position: absolute;
    width: 100%;
    height: auto;
}
#selector {
    list-style: none;
    padding: 0px;
    margin-bottom: 8px;
    text-align: center;
}
#selector li {
    display: inline-block;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border: 2px solid #000;
    background: white;
}
#selector .active {
    background: grey;
}
#music iframe {
    height: 100%;
}
#video iframe {
    height: 100%;
}

/* twitter */
#twitter {
  height: 40vh;
  overflow: auto;
  color: black;
  font-size: 18pt !important;
}
#twitter h3 {
  color: pink;
}

#twitter li {
  font-size: 9pt;
}