body{
  color: white;
  background-image: url("../imgs/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #000;
}

h1 {
  color: white;
}

li{
  list-style-type: none;
}
#links{
  border: 2px solid pink;
}

#center_carousel{
  border: 2px solid pink;
  background-color: grey;
  height: 30em;
}

#twitter{
  border: 2px solid pink;
}

#footer{
  background: pink;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#home_view {
  display: none;
  padding: 0 2.5%;
  height: 23em;
  overflow: auto
}

#video_view {
  display: none;
  height: 95%;
}

#music_view {
  display: none;
  height: 95%;
}

