<div class="small-12 small-centered large-12 large-centered columns">
  <div class="small-12 large-2 centered columns" id="links" >
    <ul>
      <li id="home_link"><a href="#">Home</a></li>
      <li id="video_link"><a href="">Video</a></li>
      <li id="pictures_link"><a href="#">Pictures</a></li>
      <li id="music_link"><a href="#">Music</a></li>
      <li id="gsbd_link"><a href="http://www.nike.com/us/en_us/c/skateboarding/go-skateboarding-day#YL4rIBlAmq-1">JUNE 21</a></li>
    </ul>
  </div>

  <div class="small-12 large-8 columns" id="center_carousel">
    <div id="home_view">
      <h3>Just for Kicks</h3>
        <p id="sb_intro">Nike SB launched in March 2002. Over a decade later, Nike SB was grown into a full line of collectable skate shoes, a skate team, and a fanbase for millions of sneakerheads and skaters world wide.
      <h3>Newest Releases</h3>
        <ol>
          <li> <a href="http://www.thepremierstore.com/footwear/nike-sb/zoom-eric-koston-pid-27337">Koston One "Fieldstone Iron" </a> </li>
          <li> <a href="http://www.thepremierstore.com/footwear/nike-sb/zoom-eric-koston-pid-27337">Stefan Janoski   "Orange Concrete" </a> </li
          <li> <a href="http://caliroots.com/nike-sb-eric-koston-2-max-631047-801/p/39156">Koston 2 Max "Hot Lava" </a> </li>
        </ol>
      <h3> Meet <i>the</i> Team</h3>#
        <ol>
          <li>Stefan Janoski</li>
          <li>Paul Rodriguez</li>
          <li>Gino Ianucci</li>
          <li>Shane O'Neill</li>
          <li>Luan Oliveira</li>
          <li>Wieger Van Wagerningen</li>
          <li>Grant Taylor</li>
          <li>Alex Olson</li>
          <li>Chet Childress</li>
          <li>Daryl Angel</li>
          <li>Eric Koston</li>
          <li>Leticia Bufoni</li>
          <li>Cory Kennedy</li>
          <li>Brian Anderson</li>
          <li>Sean Malto</li>
          <li>Lance Mountain</li>
          <li>Omar Salazar</li>
          <li>Ishod Wair</li>
          <li>Justin Brock</li>
          <li>Theotis Beasley</li>
          <li>Ben Raybourn</li>
          <li>Youness Amrani</li>#
          <li>Trevor Colden</li>
          <li>Donovan Piscopo</li>
          <li>Kevin Bradley</li>
          <li>Karsten Kleppan</li>
          <li>Denmark Micumao</li>
        </ol>
    </div>

    <div id="video_view">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/EF8tYticbdk" frameborder="0" allowfullscreen>
      </iframe>
    </div>

    <div id="carousel">
      <ul id="items">
        <li><img src="imgs/bufoni.jpg" alt=""></li>
        <li><img src="imgs/prod.jpg" alt=""></li>
        <li><img src="imgs/ishod.jpg" alt=""></li>
        <li><img src="imgs/malto.jpg" alt=""></li>
        <li><img src="imgs/koston.jpg" alt=""></li>
      </ul>
      <ul id="selector">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <div id="music_view">
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/157144774&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true">
      </iframe>
    </div>
  </div>

  <div class="show-for-medium-up large-2 text-centered columns" id="twitter">
    <h3> NIKE SB TWEETS</h3>
    <ul>
      <% @tweets.each do |tweet| %>
        <li> <%= "@nikesb: #{tweet.text}" %> </li>
        <br>
      <% end %>
    </ul>
  </div>
</div>



<div id="footer">
  <ul>
    <li>facebook</li>
    <li>vimeo</li>
    <li>twitter</li>
    <li>store</li>
  </ul>
</div>