<div class="row">
  <div class="small-8 medium-2 large-2 columns" id="links" >
    <ul>
      <li id="home_link"><a href="#">Home</a></li>
      <li id="video_link"><a href="">Video</a></li>
      <li id="pictures_link"><a href="#">Pictures</a></li>
      <li id="music_link"><a href="#">Music</a></li>
      <li id="gsbd_link"><a href="http://www.nike.com/us/en_us/c/skateboarding/go-skateboarding-day#YL4rIBlAmq-1">JUNE 21</a></li>
    </ul>
  </div>

  <div class="small-10 medium-8 large-8 columns" id="center_carousel">
    >>carousel<<
  </div>

  <div class="show-for-medium-up medium-2 large-2 columns" id="twitter">
    *tweet*<br>
    *tweet*
  </div>
</div>

<div id="footer">
  <ul>
    <li>facebook</li>
    <li>vimeo</li>
    <li>twitter</li>
    <li>store</li>
  </ul>
</div>