<div class="row">
  <div class="small-8 medium-2 large-2 columns" id="links" >
    <ul>
      <li>Home</li>
      <li>Video</li>
      <li>Pictures</li>
      <li>Music</li>
      <li>Blog</li>
    </ul>
  </div>

  <div class="small-10 medium-8 large-8 columns" id="center_carousel">
    >>carousel<<
  </div>

  <div class="show-for-medium-up medium-2 large-2 columns" id="twitter">
    *tweet*<br>
    *tweet*
  </div>
</div>

<div id="footer">
  <ul>
    <li>facebook</li>
    <li>vimeo</li>
    <li>twitter</li>
    <li>store</li>
  </ul>
</div>