<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="js/vendor/modernizr.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>skatebook</title>
</head>
<body>
  <h1 class="small-12 large-12 columns" id="logo"> SKATEBOOK </h1>

  <%= yield %>

</body>
</html>
